.container {
    max-width: 760px;
    margin: 26px auto;
}

.search {
    display: flex;
    justify-content: end;
}

.link {
    border: none;
    background-color: white;
    border-radius: 12px;
    padding: 8px 12px;

    color: black;
    text-decoration: none;
}

.link--primary {
    color: var(--primary);
    background-color: var(--secondary);
}

.link--secondary {
    color: var(--primary);
    background-color: white;
    border: 2px solid var(--primary);
}

.link--secondary:hover {
    background-color: var(--primary);
    color: white;
}

.category__books {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 32px;
}
